*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
address,
button {
  margin: 0;
  padding: 0;
  font-style: unset;
}

a {
  color: inherit;
  text-underline-offset: 4.4px;
}

img {
  width: 100%;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

/* my code */
header {
  height: 293px;
}

.cover {
  height: 757px;
  margin-bottom: 180px;
}

.lots {
  margin-bottom: 120px;
  padding: 0 24px;
  min-width: 1052px;
  min-height: 723px;
}

.about {
  padding: 0 24px;
  min-width: 1052px;
  min-height: 595px;
  margin-bottom: 180px;
}

footer {
  height: 180px;
  padding: 0 50px;
}