/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links_list_item_no-bullit {
  list-style: none;
}

.header__link {
  line-height: 100%;
  font-size: 18px;
  letter-spacing: 0%;
}

.header__links_list_item-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 100px;
  padding-top: 1.16px 0 0 9.03px;
}

.address {
  max-width: 240px;
  line-height: 24.3px;
  font-size: 18px;
  letter-spacing: 0%;
}

.address a {
  display: block;
}

.header__address {
  justify-self: end;
  width: 240px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}

.image-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  position: relative;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  color: white;
  padding: 165px 50px 106px 50px;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 22px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  padding: 0px 50px 50px;
  margin-bottom: 60px;
}

.cover__title,
.cover__description {
  z-index: 2;
}

.cover__description_text {
  word-spacing: 0.9em;

}

.bet-button {
  padding: 11px 31px;
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 40px;
}

.lots__card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 27px 0 30px 0;
}

.lots__card_list_item {
  width: 334px;
  min-height: 596px;
}

.card_link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  padding: 48px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  text-align: left;  
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
}

.card__description {
  font-size: 20px;
  line-height: 120%;
}

.card__title, .card__description {
  position: relative;
  z-index: 2;
}

.director_card {
  background-image: url("../images/card-lot-01.jpg");
}

.writer_card {
  background-image: url("../images/card-lot-02.jpg");
}

.painter_card {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look_more_link {
  font-size: 20px;
  padding: 0 40px;
}

.about{
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__column {
  justify-self: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
}

.about__logo_image {
  width: 148px;
  height: auto;  
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 100%;
  padding-top: 100px;
  margin-bottom: 100px;
  letter-spacing: 0%;
  width: 100%
}

.about__description_text {
  font-size: 20px;
  line-height: 24px;
}

.first-paragraph {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu_list {
  list-style-type: none;
  text-align: center;
}

.footer__menu_link {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.footer__menu_link_active {
  text-decoration: none;
}

.footer__social_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 240px;
  justify-self: end;
}

.footer__social_link {
  display: inline-block;
  width: 48px;
  height: 48px;
}